PORT=3001
JWT_SECRET=replace_with_strong_secret
DOUBAO_API_KEY=replace_with_doubao_key
DOUBAO_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
DOUBAO_MODEL=ep-xxxxxx
DOUBAO_EMBEDDING_MODEL=ep-xxxxxx
ALLOWED_ORIGIN=http://localhost:5173
ATTENTION_PY_ENABLED=false
ATTENTION_PY_BASE_URL=http://127.0.0.1:8008
ATTENTION_PY_TIMEOUT_MS=1200
